<?xml version="1.0"?>

<model>
  <name>turtlebot3_with_gas_sensor</name>
  <version>2.0</version>

  <sdf version="1.4">tb3_with_gas_sensor.sdf</sdf>
  <sdf version="1.5">tb3_with_gas_sensor.sdf</sdf>

  <author>
    <name>Changgyu Kim</name>
    <email>okpo2581@gmail.com</email>
  </author>

  <description>
    TurtleBot3 Waffle Pi with gas sensor
  </description>
</model>